footer
    .footer-wrapper
        ul#dle-speedbar(itemscope='' itemtype='http://schema.org/BreadcrumbList')
            li(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                meta(itemprop='position' content='1')
                a(href='https://kozyrki.online/' itemprop='item')
                    span(itemprop='name') Kozyrki.online
        a.mail-to-link(href='mailto:webvizzor@gmail.com') webvizzor@gmail.com
