header.header
    .center-bl
        a.btn-menu-mobile(href='#')
            i
            i
            i
        a.header__logo(href='/' title='Острые козырьки')
            img(src='/images/Logo.svg' alt='Острые козырьки' width="325 " height="53")
        .header-menu
            nav.header-menu-nav
                .header-menu-nav__drop-list
                    a(href='#')
                        | Смотреть онлайн
                        svg(width='8' height='6')
                            use(xlink:href='#arrow-bold-down')
                    .header-menu-nav__wrapper-drop
                        .header-menu-nav__drop-menu
                            ul
                                li
                                    a(href='/1-sezon-1-seriya.html') Первая серия
                                li
                                    a(href='/5-sezon-6-seriya.html') Последняя серия
                            ul
                                li
                                    a(href='/1-sezon/' title='Острые козырьки 1 сезон') 1 сезон
                                li
                                    a(href='/2-sezon/' title='Острые козырьки 2 сезон') 2 сезон
                                li
                                    a(href='/3-sezon/' title='Острые козырьки 3 сезон') 3 сезон
                                li
                                    a(href='/4-sezon/' title='Острые козырьки 4 сезон') 4 сезон
                            ul
                                li
                                    a(href='/5-sezon/' title='Острые козырьки 5 сезон') 5 сезон
            .header__next-movie
                a.header__caption-next-movie(href='#')
                    span Следующая 6 сезон - 2021 год