.series-caption-btns {
  margin-bottom: 6px;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;

  @include mq('md') {
    margin-bottom: 28px;
    flex-wrap: wrap;
  }

  .name-serials {
    width: 100%;
    padding-right: 10px;
    flex-shrink: 7;
    font-weight: 700;

    @include mq('md') {
      padding-right: 0;
    }

    @include mq("xs") {
      font-size: 26px;
    }
  }

  .box-series-right {
    display: flex;
    flex-shrink: 0;
    margin-top: 10px;

    @include mq('md') {
      width: 100%;
    }

    .btn-sort {
      width: 28px;
      height: 28px;
      margin-left: 10px;
      padding: 5px 3px;
      text-align: center;
      font-size: 16px;
      flex-shrink: 0;
      display: block;
      border: 1px solid var(--color-primary, #6ec198);

      &.sort-desc {
        --sort-arrow-up: var(--color-primary, #6ec198) !important;
        --sort-arrow-down: #828282 !important;
      }

      &.sort-asc {
        --sort-arrow-down: var(--color-primary, #6ec198) !important;
        --sort-arrow-up: #828282 !important;
      }

      &:hover {
        &.sort-desc {
          --sort-arrow-up: #828282 !important;
          --sort-arrow-down: white !important;
        }

        &.sort-asc {
          --sort-arrow-down: #828282 !important;
          --sort-arrow-up: white !important;
        }
      }
    }

    .btn-border {
      padding: 5px 18px;
      flex-shrink: 0;
      font-size: 12px;
      text-align: center;
      line-height: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      @include mq('md') {
        width: 100%;
        flex-shrink: 10;
      }

      svg {
        --info: white;
        margin-right: 8px;
      }

      &:hover {
        color: white !important;
      }
    }
  }
}