.one-serial-information {
  .text-serial-b {
    padding-right: 30px
  }

  h2 {
    color: #e0e0e1
  }

  .under-article {
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #7c7d7f;
    font-size: 15px;
    border-bottom: 1px solid #4b4b4e;

    span {
      color: #b6b6b6;

      a {
        color: inherit;
        border-bottom: 1px solid #636363;

        &:hover {
          color: var(--color-primary, #6ec198);
          border-bottom-color: var(--color-primary, #6ec198);
        }

      }
    }
  }
}
