.slider-main-box2 {
  .translation-slider {
    margin-bottom: 20px;
    position: relative;
    background-color: rgba(20, 20, 22, 0.4);

    @include mq('md') {
      margin: 0 -25px 20px;
    }

    @include mq("xs") {
      margin: 0 -15px 20px;
    }

    &:before {
      height: 2px;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      content: "";
      display: block;
      background-color: #1c1c1f;
    }

    .overflow-series {
      margin: 0;
    }

    .wrapper-item {
      padding: 0;
      position: relative;

      .item {
        display: inline-block;
        width: auto;
        padding: 0;
      }

      .one-item {
        display: block;
        position: relative;
        padding: 5px 15px;
        font-size: 14px;
        color: #BDBDBD;
        border: 1px solid #4F4F4F;
        transition: 0.3s;


        @include mq('md') {
          font-size: 13px;
          transition: 0s;

          &.hover, &:focus {
            color: #fff !important;
          }
        }

        svg {
          width: 18px;
          height: 12px;
          position: absolute;
          bottom: 2px;
          left: 50%;
          right: 0;
          margin-left: -9px;
          --chevron-up: var(--color-primary, #6ec198);
          display: none;
        }

        &[aria-selected="true"] {
          border: 1px solid var(--color-primary, #6ec198);
          color: #F2F2F2 !important;
          font-weight: 400;

          svg {
            display: block;
          }
        }

        &[aria-selected="true"],
        &:hover {
          border: 1px solid var(--color-primary, #6ec198);
          color: #F2F2F2 !important;
          font-weight: 400;

          &:before {
            display: none;
          }
        }
      }

      .swiper-slide-active .one-item {
        color: #fff;
        font-weight: 400
      }
    }
  }

  .swiper-button-prev {
    left: -30px;
  }

  .swiper-button-next {
    right: -30px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
    z-index: 20;
    padding: 3px 2px;
    position: absolute;
    top: 0;
    border: 1px solid var(--color-primary, #6ec198);
    background: #252529;
    --arrow: var(--color-primary, #6ec198);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include mq('md') {
      display: none;
    }

    &.swiper-button-disabled {
      display: none;
    }

    &:focus {
      --arrow: var(--color-primary, #6ec198);
      background: #252529;
    }

    &:hover {
      --arrow: white;
      background: var(--color-primary, #6ec198);
    }

    span {
      display: none;
    }
  }
}

.list-page-series {
  margin: 0 -14px 50px;
  display: flex;
  flex-wrap: wrap;

  @include mq("sm") {
    margin-bottom: 36px;
  }

  @include mq("sm") {
    margin: 0 -10px;
  }

  .one-series-wrapper {
    width: 25%;
    padding: 0 14px 30px;

    @include mq("lg") {
      width: 33.3%;
    }

    @include mq("sm") {
      width: 50%;
      padding: 0 10px 20px;
    }

    .one-series {
      display: block;

      &:hover .name {
        color: var(--color-primary, #6ec198);
      }

      .box-img {
        height: 132px;
        margin-bottom: 8px;
        display: block;
        line-height: 0;

        @include mq('md') {
          height: 110px;
        }

        @media (max-width: 600px) {
          height: 92px;
        }

        @include mq("sm") {
          height: 82px;
          margin-bottom: 5px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .name {
        display: block;
        color: #BDBDBD;
        font-size: 16px;

        @include mq("sm") {
          font-size: 14px;
        }

        .season {
          font-weight: 700;
        }
      }
    }
  }
}