.big-slider-main {
  display: none;
  position: relative;

  @include mq('md') {
    height: 238px
  }

  &.active {
    display: block;
  }
}

.main-list-series {
  padding-bottom: 20px;

  @include mq('md') {
    padding-bottom: 30px
  }
}

.series-season-wrapper {
  max-width: 955px;
  margin: 0 15px;
  padding-bottom: 19px;
  border-bottom: 1px solid #252529;
  overflow: auto;
  position: relative;

  @include mq('md') {
    padding-bottom: 60px;
    min-height: 236px;

    &:after,
    &:before {
      top: 108px;
      width: 25px;

      @include mq("xs") {
        top: auto;
        bottom: 63px
      }
    }
  }
}

.slider-main-box {
  margin: 0 -15px 40px;
  padding: 17px 0;
  background-color: #2f2f33;

  .translation-slider {
    padding-top: 0;
    position: relative;
    height: 69px;
    overflow: hidden;
    margin: 0 15px 14px;
    border-top: 1px solid #252529;

    &:before {
      height: 2px;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      content: "";
      display: block;
      background-color: #1c1c1f;
    }

    .wrapper-item {
      padding: 0;
      position: relative;

      .item {
        display: inline-block;
        width: auto;
        padding: 0;
      }

      .one-item {
        padding: 22px 29px 24px;
        display: block;
        position: relative;
        font-size: 17px;
        color: #fffefe;

        @include mq('md') {
          font-size: 13px;
          transition: 0s;

          &.hover,
          &:focus {
            color: #fff !important;
          }
        }

        &:hover {
          color: var(--color-primary, #6ec198)
        }

        svg {
          width: 18px;
          height: 12px;
          position: absolute;
          bottom: 2px;
          left: 50%;
          right: 0;
          margin-left: -9px;
          --chevron-up: var(--color-primary, #6ec198);
          display: none;
        }

        &.active,
        &[aria-selected="true"] {
          color: var(--color-primary, #6ec198) !important;
          font-weight: 600;

          @include mq('md') {
            font-weight: 400;
            transition: 0s;
          }

          svg {
            display: block;
          }

          &:before {
            height: 3px;
            left: 0;
            right: 2px;
            bottom: 0;
            position: absolute;
            content: "";
            display: block;
            background-color: var(--color-primary, #6ec198)
          }
        }
      }

      .swiper-slide-active .one-item {
        color: #fff;
        font-weight: 400
      }
    }

    .overflow-series {
      margin: 0;
    }
  }

  @include mq('md') {
    margin: 0 -15px 35px;
    padding-bottom: 33px;

    .translation-slider {
      height: 69px;

      .wrapper-item .one-item {
        font-size: 17px;
      }
    }
  }

  @include mq("xs") {
    .translation-slider .wrapper-item .item,
    .translation-slider .wrapper-item {
      padding: 0;
    }
  }
}

.one-item-series {
  width: 191px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;

  @include mq('md') {
    width: 150px;
  }

  @include mq("xs") {
    width: calc(50vw - 15px);
  }

  .box-img {
    width: 100%;
    height: 117px;
    margin-bottom: 12px;
    opacity: 1;
    position: relative;
    line-height: 0;
    display: block;
    overflow: hidden;
    transition: .3s;

    @include mq("xs") {
      height: 110px;
    }

    @media (max-width: 1024px) {
      width: 100%;
      height: 117px;
      margin-bottom: 12px;
      opacity: 1;
      position: relative;
      line-height: 0;
      display: block;
      overflow: hidden;
      transition: .3s;

      &:before {
        display: none;
      }
    }

    @include mq('md') {
      height: 92px
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover
    }
  }

  &.hover,
  &:hover {
    .box-img {
      opacity: 1;
      transition: .3s;

      &:before {
        opacity: 1;
        transition: .3s;
      }

      &:after {
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        display: block;
        content: "";
        z-index: 2;
        background-color: rgba(0, 0, 0, .5);
        border: 1px solid var(--color-primary, #6ec198);
        transition: .3s;

        @media (max-width: 1024px) {
          display: none;
        }
      }
    }

    .series-number {
      color: var(--color-primary, #6ec198);
      transition: .3s;
    }
  }

  &:last-child .series-number:after {
    display: none;
  }

  .series-number {
    padding: 5px 10px;
    text-align: center;
    display: block;
    letter-spacing: .12px;
    background-color: #252529;
    position: relative;
    font-size: 14px;
    color: hsla(0, 0%, 100%, .5);
    transition: .3s;

    &:after {
      width: 1px;
      height: 17px;
      position: absolute;
      top: 6px;
      right: 0;
      display: block;
      content: "";
      background-color: #2f2f33
    }
  }
}

.big-slider-main {
  &.left-position {
    .prev-series,
    .series-season-wrapper:before {
      display: none;
    }
  }

  &.center-position {
    .series-season-wrapper:before {
      display: block
    }

    .prev-series {
      display: flex;
    }
  }
}

.main-list-series {
  display: flex
}


.series-btn {
  width: 28px;
  height: 28px;
  top: 129px;
  position: absolute;
  text-align: center;
  --arrow: var(--color-primary, #6ec198);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  float: left;
  z-index: 20;
  background-color: #252529;
  border: 1px solid var(--color-primary, #6ec198);
  font-size: 10px;
  transition: .3s;

  &:hover {
    background-color: var(--color-primary, #6ec198);
    --arrow: #fff;
  }

  &.prev-series {
    left: 15px;
    padding-right: 2px
  }

  &.next-series {
    right: 15px;
    padding-left: 2px
  }

  @include mq('md') {
    top: 104px;

    &.next-series {
      right: 15px
    }

    .hover, &:hover {
      background-color: #252529 !important;
      --arrow: var(--color-primary, #6ec198) !important
    }
  }
}

.first-series-btn {
  display: none;

  @include mq('md') {
    padding: 8px 10px 9px;
    margin-top: -56px;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
    color: hsla(0, 0%, 100%, .9);
    font-size: 14px;
    z-index: 10;
    position: relative;
    text-align: center;
    letter-spacing: .12px;
    border: 1px solid var(--color-primary, #6ec198);
    background-color: #2f2f33;
  }
}