.wrapper-series {
  margin: -8px -15px 40px;

  @include mq("xs") {
    margin: -8px -15px 50px
  }

  .one-series {
    margin-bottom: 3px;
    padding: 25px 75px 19px 15px;
    background-color: #2f2f33;
    display: flex;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    .hover, &:hover {
      background-color: #38383c;

      .box-img {
        border: 1px solid var(--color-primary, #6ec198);
        transition: .3s;
      }

      .number-series {
        color: var(--color-primary, #6ec198);
      }
    }

    .box-img:before,
    .box-img svg,
    &:hover .box-img:before,
    &:hover .box-img svg {
      opacity: 1;
      transition: .2s;
    }

    .box-img {
      width: 217px;
      height: 132px;
      margin-right: 15px;
      position: relative;
      border: 1px solid #8e8e8e;
      flex-shrink: 0;
      transition: .3s;

      &:before {
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        content: "";
        z-index: 1;
        opacity: 0;
        transition: .2s;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        --play: #fff;
        font-size: 41px;
        z-index: 2;
        opacity: 0;
        transition: .2s;
      }
    }

    .text-info {
      width: 100%;
      padding-top: 17px;

      & > * {
        display: block;
      }
    }

    .number-series {
      margin-bottom: 4px;
      color: hsla(0, 0%, 99.6%, .8);
      font-size: 26px;
      line-height: 29px;
      letter-spacing: .06px;
    }

    .name-series {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: .18px;
      color: hsla(0, 0%, 99.6%, .35)
    }

    .description {
      color: hsla(0, 0%, 78%, .85);
      font-size: 14px;
      line-height: 24px;
      letter-spacing: .07px;
    }
  }

  @media (max-width: 1024px) {
    .one-series {
      padding: 25px 15px;
      .box-img {
        margin-right: 25px
      }

      .text-info {
        padding-top: 0
      }
    }
  }

  @include mq('md') {
    .one-series {
      .box-img {
        width: 170px;
        height: 110px;
        margin-right: 20px
      }

      .number-series {
        font-size: 22px;
        line-height: 25px
      }

      .name-series {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px
      }

      .description {
        font-size: 15px;
        line-height: 20px
      }
    }
  }

  @include mq("xs") {
    .one-series {
      display: block;

      .box-img {
        width: 100%;
        height: 135px;
        margin: 0 auto 20px;
        display: block
      }
    }
  }
}
