footer {
  width: 100%;
  height: 76px;
  background-color: #151515;
}

.footer-wrapper {
  width: 100%;
  max-width: 1054px;
  margin: 0 auto;
  height: 76px;
  padding: 10px 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;

  li {
    position: relative;
    color: #c7c7c7;
    display: inline-block;

    &:last-child {
      margin-right: 0;

      &:before {
        display: none
      }
    }

    a {
      color: #c7c7c7;

      &.hover,
      &:hover {
        color: var(--color-primary, #6ec198)
      }
    }
  }
}

.mail-to-link {
  color: grey;
}

@include mq('md') {
  footer {
    height: 124px;
  }

  .footer-wrapper {
    height: auto;
    padding: 20px 15px;
    font-size: 14px;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;

    ul {
      width: 100%;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #2b2b2b;
      line-height: 25px
    }

    li:before {
      top: 17px
    }
  }
}