
.header {
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: #000;
  margin: 0 auto 200px !important;

  @include mq("md") {
    margin-bottom: 0 !important;

    body{
      margin-top:158px !important
    }
  }

  & > * {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .header__logo {
    width: 264px;
    margin-right: 20px;
    float: left;
    line-height: 0;
    flex-shrink: 0;

    @include mq("xl", 'min') {
      width: 325px;
    }

    @include mq('md') {
      width: 230px;
      margin-top: 2px;
      margin-right: 0;
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    align-content: center;

    &-nav {
      width: 425px;
      margin-right: 10px;
      flex-shrink: 0;

      svg {
        --arrow: hsla(0, 0%, 100%, 0.7);
        margin-left: 10px;
        display: inline-block;
        position: relative;
        transition: .1s;
      }

      &__drop-list {
        padding: 27px 10px 23px;
        display: inline-block;
        position: relative;

        &:not(:last-child) {
          margin-right: 15px;
        }

        &.hover > a,
        &:hover > a {
          transition: .1s;
          color: var(--color-primary, #6ec198);
        }

        &.hover .header-menu-nav__wrapper-drop,
        &:hover .header-menu-nav__wrapper-drop {
          display: block;
        }

        a {
          letter-spacing: -.85px;
          color: hsla(0, 0%, 100%, .7);

          &:hover {
            color: var(--color-primary, #6ec198);
          }
        }

        &:hover svg {
          transform: rotate(180deg);
          --arrow: var(--color-primary, #6ec198);
        }
      }

      &__wrapper-drop {
        position: absolute;
        top: 70px;
        left: 0;
        padding-top: 4px;
        display: none;

        &:before {
          top: -40px;
          left: 0;
          right: 0;
          height: 40px;
          content: "";
          position: absolute;
          display: block;
        }
      }

      &__drop-menu {
        width: auto;
        padding: 15px 0;
        z-index: 10;
        display: flex;
        background-color: rgba(0, 0, 0, .9);

        ul {
          width: 110px;
          padding: 0 0 0 30px;
          border-right: 1px solid #2f2f33;

          &:first-child {
            width: 150px;
            padding-left: 20px;
          }

          &:last-child {
            border-right: 0;
          }

          li:not(:last-of-type) {
            margin-bottom: 5px;
          }

          a {
            color: #969696;
            font-size: 13px;
            letter-spacing: .12px;

            :hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  &__next-movie {
    float: right;
    flex-shrink: 0;
    padding-left: 2px;
    border-left: 3px solid var(--color-primary, #6ec198);

    span {
      padding: 13px 20px 12px;
      display: block;
      color: #fffefe;
      font-size: 16px;
      letter-spacing: .16px;
      background-color: #252529;
      transition: .3s;
    }
  }
}

@include mq('xl') {
  .header {
    height: 55px;
    padding: 9px 10px;
    z-index: 100;

    &-menu {
      transition: .3s;
      width: 270px;
      display: flex;
      flex-direction: column;
      position: fixed;
      padding-top: 0;
      left: -270px;
      top: 55px;
      bottom: 0;
      z-index: 100;
      background-color: #000;

      &-nav {
        order: 2;
        width: 100%;
        margin: 0;

        &__drop-list {
          padding: 0;
          display: block;

          & > a {
            display: none;
          }
        }

        &__wrapper-drop {
          position: relative;
          top: 0;
          display: block;
          padding: 0;
        }

        &__drop-menu {
          display: flex;
          flex-direction: column;
          padding: 0;

          ul {
            width: 100% !important;
            padding: 0 0 0 20px;
            border-right: 0;

            li:not(:last-of-type) {
              margin: 0;
            }

            a {
              padding: 13px 0;
              display: block;
              font-size: 15px;
              border-bottom: 1px solid #252529;
            }
          }
        }
      }
    }

    & > :after {
      width: 100%;
      display: table;
      clear: both;
      content: "";
    }

    &__next-movie {
      width: 100%;
      padding-top: 0;
      border-left: 4px solid var(--color-primary, #6ec198);
      border-top: 0;
      color: var(--color-primary, #6ec198);
      order: 1;

      span {
        padding: 13px 12px;
        font-size: 14px;
        color: var(--color-primary, #6ec198)
      }
    }
  }

  .menu-open {
    .header-menu {
      left: 0;
    }

    .btn-menu-mobile {
      position: absolute;
      right: 0;

      i {
        top: 18px;
        left: 10px;
        position: absolute;
        display: block;
        transition: .3s;

        &:last-child {
          display: none
        }

        &:first-child {
          transform: rotate(-45deg)
        }

        &:nth-child(2) {
          transform: rotate(45deg)
        }
      }
    }

    .box-close-menu {
      display: block
    }
  }
}

.btn-menu-mobile {
  width: 40px;
  height: 40px;
  padding: 12px 9px;
  display: none;

  @media (max-width: 1024px) {
    position: absolute;
    right: 0;
    display: block
  }

  i {
    width: 22px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    transition: .3s;
    display: block;

    &:last-child {
      margin-bottom: 0
    }
  }
}

.box-close-menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background: rgba(0, 0, 0, .4)
}
