.new-serials {
  margin-bottom: 50px;
  display: flex;

  .left-side {
    width: 100%;

    .caption {
      margin-bottom: 10px;
      color: hsla(0, 0%, 100%, .85);
      font-size: 32px;
      letter-spacing: .16px;

      @include mq("md") {
        font-size: 26px
      }

      @include mq("xs") {
        margin-bottom: 5px
      }
    }
  }

  .block-day {
    margin-left: 8px;
    padding: 14px 35px 14px 15px;
    position: relative;
    background-color: #2f2f33;

    &:before {
      width: 4px;
      position: absolute;
      left: -8px;
      top: 0;
      bottom: 0;
      content: "";
      display: block;
      background-color: var(--color-primary);
    }
  }

  .list-series {
    position: relative;

    li {
      margin-bottom: 25px;

      &:first-child {
        padding-top: 7px;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 5px;
      }

      div {
        padding: 5px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        &:before {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 9px;
          content: "";
          border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
        }

        span {
          padding-right: 10px;
          position: relative;
          z-index: 2;
          background-color: #2f2f33;
          display: block;
          float: left;
          color: rgba(255, 255, 255, 0.7);
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;

          &:nth-child(2) {
            padding-right: 0;
            padding-left: 10px;
            text-align: right;
          }
        }

      }
    }
  }

  .right-side {
    width: 300px;
    margin-left: 28px;
    line-height: 0;
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;

    @include mq("md") {
      display: none;
    }
  }
}
