.description-serials {
  padding-top: 10px;
  display: flex;

  @include mq("sm") {
    margin-bottom: 25px;
    padding-bottom: 10px;
    flex-wrap: wrap;
  }

  .box-information-padding .right-text {
    padding-right: 80px;

    @include mq("lg") {
      padding-right: 0;
    }
  }

  .left-desc {
    width: 310px;
    padding-right: 35px;
    flex-shrink: 0;

    @include mq('md') {
      width: 270px;
      padding-right: 20px;
    }

    @include mq("sm") {
      width: 100%;
      padding-right: 0
    }
  }

  .serial-wall {
    user-select: none;
    margin-bottom: 30px;
    line-height: 0;
    box-shadow: 0 0 35px rgba(0, 0, 0, .41);

    @include mq("sm") {
      margin-bottom: 25px;

      img {
        width: 100%;
        height: initial;
      }
    }
  }

  .right-desc {
    width: 100%;
    margin-top: -8px;

    .caption-desc {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid hsla(0, 0%, 90.2%, .2);

      @include mq("sm") {
        margin-bottom: 20px
      }

      h2 {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: .13px;
        color: hsla(0, 0%, 100%, .8);
        font-weight: 500;
        margin-bottom: 4px;

        @include mq('md') {
          margin-bottom: 10px;
          line-height: 24px
        }
      }

      .under-caption {
        padding-top: 7px;
        color: #7c7d7f;
        font-size: 15px;
        letter-spacing: .07px;

        span {
          color: #b6b6b6
        }

        @include mq("sm") {
          &:last-child {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .left-text {
    color: #828282;
    letter-spacing: .07px;
    font-size: 16px;
    flex-shrink: 0
  }

  .right-text {
    color: #e0e0e0;
    font-size: 16px;
    letter-spacing: .07px
  }

  .season-txt {
    width: 70px;
    padding-right: 5px
  }

  .box-inform {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid hsla(0, 0%, 90.2%, .07);

    @include mq("sm") {
      margin-bottom: 20px;
      padding-bottom: 20px;

      &.season-box-slider .one-line {
        position: relative;
        padding-left: 64px;
        display: block;

        .left-text {
          position: absolute;
          left: 0;
          top: 1px
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    .one-line {
      display: flex;
      line-height: 24px;
    }
  }

  .one-block {
    width: 50%;
    padding-right: 5px;
    float: left;

    @include mq("lg") {
      width: 100%;
      padding-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .list-margin {
    margin-bottom: 29px;

    .one-line {
      margin-bottom: 10px
    }

    @include mq("sm") {
      margin-bottom: 25px;

      .one-line {
        margin-bottom: 15px
      }
    }
  }

  .width-size-2 {
    width: 100px;
    padding-right: 5px;

    @include mq('md') {
      width: 70px;
    }

    @include mq("sm") {
      width: 100px;
    }
  }

  .width-size-3 {
    width: 115px;
    padding-right: 5px;

    @include mq('md') {
      width: 96px;
    }

    @include mq("sm") {
      width: 100px;
    }
  }

  svg {
    margin-right: 4px;
    display: inline-block;
    font-size: 12px;
    --kinopoisk: hsla(0, 0%, 62.4%, 0.5);
    --imdb: hsla(0, 0%, 62.4%, 0.5);

    &:not(:first-of-type) {
      margin-left: 15px;
    }
  }

  @include mq("sm") {
    .list-margin .one-block:last-child .one-line:last-child {
      margin-bottom: 0;
    }
  }
}

.serial-number-list {
  margin-bottom: -15px;

  @include mq("sm") {
    height: 28px;
    margin-bottom: 0;
  }

  .item {
    user-select: none;
    width: 28px;
    height: 28px;
    margin-right: 16px;
    margin-bottom: 13px;
    color: #f7f7f7;
    float: left;
    line-height: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--color-primary, #6ec198);

    @include mq('md') {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    @include mq("sm") {
      margin-bottom: 0;
    }

    &:focus, &:hover {
      color: #fff !important;
      background-color: var(--color-primary, #6ec198);
    }
  }

  [aria-selected="true"] {
    color: #fff !important;
    background-color: var(--color-primary, #6ec198);
  }
}

.trailer-desktop {
  user-select: none;

  @include mq("sm") {
    margin-bottom: 30px;
    display: block;

    img {
      width: 100%;
      height: initial;
    }
  }

  .text-trailer {
    margin-bottom: 10px;
    font-size: 20px;
    color: hsla(0, 0%, 100%, .5);
    letter-spacing: .1px
  }

  .trailer-youtube {
    position: relative;
    line-height: 0;
    display: block;

    &::after,
    &::before {
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      display: block;
      content: "";
      transition: .3s;
    }

    &:before {
      z-index: 1;
      background: rgba(0, 0, 0, .2)
    }

    &:after {
      z-index: 2;
      opacity: 0;
      background-color: rgba(0, 0, 0, .3);
      border: 1px solid var(--color-primary, #6ec198);
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      --play: hsla(0, 0%, 100%, 0.9);
      font-size: 50px;
      transform: translate(-50%, -50%);
      transition: .3s
    }

    &:hover {
      &:after {
        opacity: 1;
      }

      svg {
        --play: #fff
      }
    }
  }
}


