.article-site {
  margin-top: -6px;
  margin-bottom: 13px;
  font-size: 26px;
  font-weight: 400;
}

.wrapper-sim-movie {
  margin-bottom: 55px;

  @include mq('md') {
    margin-bottom: 35px;
  }
}

.box-sim-movie {
  margin-bottom: 28px;
  min-height: 288px;
  padding: 16px 27px 27px 220px;
  position: relative;
  background: #2F2F33;
  font-weight: 400;
  border: 1px solid transparent;
  transition: 0.3s border;

  &:hover {
    border: 1px solid var(--color-primary, #6ec198);

    .name-movie a {
      color: var(--color-primary, #6ec198);
    }
  }

  @include mq('md') {
    margin: 0 -15px 23px;
    padding: 16px 15px 10px;

    .mobile {
      display: block;
    }
  }

  .main-inform {
    @include mq('md') {
      display: flex;
      margin-bottom: 15px;
    }

    .text-inform {
      width: 100%;
    }
  }

  .poster-sim {
    width: 190px;
    height: 288px;
    position: absolute;
    left: -1px;
    top: -1px;
    object-fit: cover;
    user-select: none;

    @include mq('md') {
      width: 110px;
      height: initial;
      position: relative;
      margin-right: 20px;
      flex-shrink: 0;

      img {
        height: initial;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .name-movie {
    font-size: 22px;
    font-weight: 700;

    @include mq('md') {
      font-size: 20px;
    }

    a {
      color: #E0E0E0;
    }
  }

  .original-movie {
    margin-bottom: 8px;
    color: #828282;
    font-size: 14px;

    @include mq('md') {
      color: #bdbdbd;
    }
  }

  .text-info {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 21px;
    color: #BDBDBD;

    @include mq('md') {
      margin-bottom: 15px;
      color: #828282;

      & + .static-info .one-block:nth-child(1),
      & + .static-info .one-block:nth-child(3) {
        display: none !important;
      }
    }
  }

  .static-info {
    display: flex;

    @include mq("lg") {
      flex-wrap: wrap;
    }

    .one-block {
      width: 33%;
      margin-bottom: 16px;
      color: #BDBDBD;
      font-size: 14px;

      @include mq("lg") {
        width: 50% !important;
      }

      &:nth-child(1) {
        width: 22%;
      }

      &:nth-child(2) {
        width: 25%;
      }

      &.genre {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: lowercase;
      }
    }

    @include mq("lg") {
      &.mobile .one-block {
        width: 100% !important;
      }
    }
  }

  .title {
    margin-bottom: 2px;
    font-size: 14px;
    color: #828282;
  }

  .season-line {
    padding-top: 2px;
    display: flex;
    justify-content: space-between;

    @include mq("lg") {
      flex-wrap: wrap;
    }

    .season-list {
      width: 360px;
      position: relative;
      margin-bottom: -10px;

      @include mq("lg") {
        margin-bottom: 10px;
      }

      @include mq('md') {
        width: 360px;
        max-width: 100%;
      }

      .item {
        padding-right: 10px;
      }

      a {
        width: 100%;
        height: 35px;
        padding: 6px 2px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-primary, var(--color-primary, #6ec198));

        &:hover {
          background-color: var(--color-primary, #6ec198);
          color: #2F2F33;
        }

        @include mq('md') {
          height: auto !important;
        }
      }

      .swiper-button-next {
        width: 34px;
        height: 34px;
        padding: 10px 2px;
        position: absolute;
        top: 0;
        right: -35px;
        text-align: center;
        font-size: 13px;
        border: 1px solid var(--color-primary, #6ec198);
        display: block;
        color: var(--color-primary, #6ec198);
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s;

        &.swiper-button-disabled {
          display: none;
        }

        &:hover {
          background-color: var(--color-primary, #6ec198);
          color: #2F2F33;
        }

        span {
          display: none;
        }
      }
    }

    .btn-border {
      text-align: center;

      @include mq('md') {
        width: 100%;
        display: block;
      }
    }
  }
}

.all-series-btn {
  margin-top: -4px;
  padding: 10px 10px 9px;
  display: block;
  color: #2F2F33;
  font-size: 16px;
  background-color: var(--color-primary, #6ec198);
  text-align: center;

  &:hover {
    background-color: #4E9974;
    color: #F2F2F2;
  }
}
