.slider-btn-bottom
    .one-slide-btn
        a.prev-series.clearfix(href='https://kozyrki.online/1-sezon-1-seriya.html' title='Острые козырьки 1 сезон 1 серия')
            strong.full-center-flex
                svg(width='10' height='10')
                    use(width='10' height='10' xlink:href='#arrow-left')
            span предыдущая серия
    .one-slide-btn
        .center-choose
            a.choose-series(href='/1-sezon/' title='Острые козырьки 1 сезон все серии')
                svg(width='30' height='13')
                    use(width='30' height='13' xlink:href='#choose-series')
                span выбрать серию
    .one-slide-btn
        a.next-series.clearfix(href='/2-sezon-1-seriya.html' title='Острые козырьки 2 сезон 1 серия')
            span следующая серия
            strong.full-center-flex
                svg(width='10' height='10')
                    use(width='10' height='10' xlink:href='#arrow-right')