.translation-slider
    .overflow-series
        .wrapper-item.sounds-tabs.clearfix
            .swiper-button-next >
            .swiper-container
                .swiper-wrapper
                    each sound, key in ['LostFilm', 'Дубляж', 'Кубик в Кубе', 'AlexFilm', 'Субтитры']
                        .item.swiper-slide
                            a.one-item(aria-selected=!key ? 'true' : 'false' href='javascript:;' data-sound='//link.com?sound='+key)= sound
                                svg(width='18' height='12')
                                    use(xlink:href='#chevron-up')