.text-information(itemprop='description')
    h2.article Информация о сериале Острые козырьки
    p
        | «Острые козырьки» (Peaky Blinders) – британский сериал про преступную группировку братьев Шелби. Создатель истории Стивен Найт основал ее на реальных событиях – такая банда действительно действовала в Британии в начале ХХ века.
    p
        | Состоит из 5 сезонов, пятый – заключительный, каждый – по 6 серий. В каждом сезоне зрителю предлагается логично завершенный этап истории «Острых козырьков». История динамичная, стильная, что привлекает зрителей. Телесериал стал одним из лидеров по количеству просмотров и рейтингу в стране. Все рекорды побила первая серия 4 сезона.
    h3.article Сюжет
    p
        | Начинается история в 1919 году, когда братья Шелби вернулись в войны – они начинают поднимать свой бизнес. Занимаются они букмекерством. Постепенно, из нелегального бизнес перерастает в легальный, группировка расширяет влияние на большую территорию. Но с ростом успешности появлялись и новые, более могущественные враги, если «Острые козырьки» смотреть онлайн без остановки, то всего за 30 часов вы осилите всю историю!
    h3.article Главные герои
    p
    li
        | Томас Шелби – главный герой сериала «Peaky Blinders», лидер группировки острых козырьков, средний брат. Братья – Финн, Артур, Джон. Участвовал в Первой мировой войне – при Сомме и Вердене. В родном Бирмингеме основал группировку, которая занималась букмекерством. За героизм на войне получил медали. Во втором сезоне расширяет бизнес на Лондон и другие регионы страны, начинает заниматься алкоголем. С каждым сезоном компания растет, но не без усилий и ума Томаса. Женился на Грейс – шпионке, которую подослал к нему инспектор, а позже – глава разведки, Кэмпбелл. Томаса сыграл Киллиан Мерфи.
        p
        p
    li
        | Грейс Берджесс (Шелби) – шпионка и информатор полиции, послана Кэмпбеллом собирать информацию о «козырьках», влюбилась в Томаса, вышла за него замуж. Красивая ирландка выполнила задание, и смогла покинуть город, но забыть Томми не смогла. Как и он ее – несмотря на предательство, они снова встретились. Была застрелена и умерла на руках Томаса.
        p
        p
    li
        | Артур Шелби – старший брат, который долго официально считался лидером банды. Во всех делах именно Артур – правая рука Томми. Артур жесток, агрессивен, привык полагаться на силу, а не на ум, поэтому часто имеет проблемы. После войны стал склонен к паническим атакам и приступам агрессии. Женат на Линде Шелби, которая заботливо относится к мужу, несмотря на его проблемы.
        p
        p
    li
        | Джон Шелби – брат, младше Артура и Томаса, тоже был на войне, был женат на Марте, после ее смерти его женой стала Эсме. Является членом банды «Острые козырьки».
        p
        p
    li
        | Финн – самый младший из братьев, на войне не был, в бизнесе участвует минимально. Финн может присутствовать, когда братья работают, но не может участвовать. Томас иногда берет его с собой, например, на скачки в Эпсоме. Братья опасаются, что физически Финн слабее остальных.
        p
        p
    li
        | Эйда (Ада) Шелби, в браке – Торн – единственная сестра, не имеет отношения к группировке, но участвует в легальной части деятельности «козырьков». Вышла замуж без согласия и разрешения старшего брата, за коммуниста Фредди Торна, из-за чего вынуждена была временно скрываться от гнева Томми с мужем.
        p
        p
    li
        | Элизабет Грей (Шелби) – тетя братьев Шелби, все называют ее Полли, она имеет власть в банде, исполняет обязанности казначея, бухгалтер легального бизнеса братьев. Во время войны была лидером группировки. У нее есть сын Майкл, вырастила братьев практически только она, когда их родная мать умерла.
        p
        h3.article Почему стоит смотреть сериал?
        p
            | Уникальный актерский состав - Компания ВВС и Стивен Найт пригласили отличных актеров. Главную роль сыграл Киллиан Мерфи, любимую Томаса – британская актриса Аннабелль Уоллис, Хелен Маккрори в роли тетушки Элизебет «Полли». На второстепенную роль Альфи Соломона пригласили секс-символа XXI века – Тома Харди. Лидера итальянской группировки сыграл Эдриан Броуди. Мировые звезды и менее известные британские актеры создали уникальный коктейль.
        p
            strong Качество картинки
            |  - на нашем сайте все серии в высоком FullHD качестве.
        p
            strong Музыка
            |  - В качестве саундтреков звучат настоящие хиты, поэтому сериал порадует и меломанов. Основной саундтрек - Nick Cave and the Bad Seeds «Red Right Hand».
        p
            strong Стиль
            |  - Сериал получился атмосферным – создателям удалось идеально передать атмосферу 20-х всеми возможными способами – костюмы, дизайн, цвета и свет.
        p
            strong Сюжет
            |  - Для поклонников детективных криминальных кинолент – это отличный выбор. Картине хватает и динамики, и психологизма, и насыщенности интересными сюжетными поворотами.
