.description-serials(itemscope='' itemtype='http://schema.org/TVSeries')
    .left-desc
        .serial-wall
            img.lazy(data-src='/images/static/serial-poster.jpg' alt='постер к сериалу Острые козырьки' width="275" height="393" itemprop='image')
        .trailer-desktop
            .text-trailer Трейлер сериала
            a.trailer-youtube(href='javascript:void(0);' data-micromodal-open='micromodal-trailer')
                img.lazy(data-src='/images/static/trailer-prevyu.jpg' width="275" height="155" alt='Трейлер Острые козырьки')
                svg(width='50' height='50')
                    use(xlink:href='#play')
            #micromodal-trailer.micromodal.micromodal_iframe(aria-hidden='true')
                .micromodal__overlay(tabindex='-1' data-micromodal-close='')
                    .micromodal__container(role='dialog' aria-modal='true')
                        button.micromodal__close(aria-label='Закрыть трейлер' data-micromodal-close='') ✕
                        .micromodal__content
                            iframe.lazy(data-src='https://www.youtube.com/embed/0InieEzg5kY')
    .right-desc
        .caption-desc
            h2(itemprop='name') Острые козырьки
            .under-caption(itemprop='alternativeHeadline') Peaky Blinders
        .box-inform.season-box-slider
            .one-line
                .left-text.season-txt Сезон:
                .serial-number-list.clearfix(itemprop='containsSeason' itemscope='' itemtype='http://schema.org/TVSeason')
                    a.item(href='/1-sezon/' title='Острые козырьки 5 сезон' itemprop='url')
                        span(itemprop='name') 1
                    a.item(href='/2-sezon/' title='Острые козырьки 5 сезон' itemprop='url')
                        span(itemprop='name') 2
                    a.item(href='/3-sezon/' title='Острые козырьки 5 сезон' itemprop='url')
                        span(itemprop='name') 3
                    a.item(href='/4-sezon/' title='Острые козырьки 5 сезон' itemprop='url')
                        span(itemprop='name') 4
                    a.item(href='/5-sezon/' title='Острые козырьки 5 сезон' itemprop='url')
                        span(itemprop='name') 5
        .box-inform.list-margin.clearfix
            .one-block
                .one-line
                    .left-text.width-size-2 Рейтинг:
                    .right-text
                        | КП 8.4
                        | IMDB 8.8
                .one-line
                    .left-text.width-size-2 Жанр:
                    .right-text(itemprop='genre') Драма | Криминал
                .one-line
                    .left-text.width-size-2 Статус:
                    .right-text Выходит
            .one-block
                .one-line
                    .left-text.width-size-2 Страна:
                    .right-text(itemprop='countryOfOrigin') Великобритания
                .one-line
                    .left-text.width-size-2 Студия:
                    .right-text(itemprop='productionCompany') BBC Television Centre
                .one-line
                    .left-text.width-size-2 Год выхода:
                    .right-text 12 сентября 2013
                    meta(itemprop='startDate' content='12 сентября 2013')
        .box-inform.list-margin.box-information-padding
            .one-line.video_quality
                .left-text.width-size-3 Качество:
                .right-text
            .one-line
                .left-text.width-size-3 Актеры:
                .right-text(itemprop='actors')
                    | Киллиан Мёрфи, Пол Андерсон, Хелен Маккрори, Софи Рандл, Нед Деннехи, Финн Коул, Иэн Пек, Гарри Киртон, Джо Коул, Наташа О’Кифф
            .one-line
                .left-text.width-size-3 Режиссер:
                .right-text(itemprop='director') Энтони Бирн, Колм МакКарти, Тим Милантс
            .one-line
                .left-text.width-size-3 Сценарий:
                .right-text Стивен Найт, Тоби Финлэй, Стивен Расселл
            .one-line
                .left-text.width-size-3 Оператор:
                .right-text Джордж Стил, Саймон Дэннис, Лори Роуз
            .one-line
                .left-text.width-size-3 Продюсер:
                .right-text(itemprop='producer') Кэрин Мэндабах, Джули Бринкман, Джэми Глазенбрук
            .one-line
                .left-text.width-size-3 Художник:
                .right-text Грант Монтгомери, Ричард Буллок, Стефен Дэйли
            .one-line
                .left-text.width-size-3 Монтаж:
                .right-text Марк Дэвис, Пол Найт, Селия Хэйнинг
            .one-line
                .left-text.width-size-3 Время:
                .right-text 60 мин.