.wrapper-sim-movie
    .box-sim-movie
        .main-inform
            a.poster-sim(href='taboo/' title='Табу')
                img.lazy(data-src='/images/static/taboo-poster_191x290.jpeg' alt='Табу' width="190" height="288")
            .text-inform
                .name-movie
                    a(href='taboo/' title='Табу') Табу
                .original-movie Taboo
                a(href='taboo/' title='Табу')
                    .static-info.mobile
                        .one-block
                            .title Рейтинг
                            | КП 7.7  IMDB 8.4
                        .one-block
                            .title Жанр
                            | триллер, драма, детектив
        a(href='taboo/' title='Табу')
            .text-info
                h3 История появления
                p
                    | Британский телесериал
                    strong «Табу»
                    |  является 8-серийной драмой, уровень мрачности которой повышен до максимума. Отменный дуэт, состоящий из
                    strong Тома Харди и Стивена Найта
                    | , предлагает зрительской аудитори
            .static-info
                .one-block
                    .title Рейтинг
                    | КП 7.7  IMDB 8.4
                .one-block
                    .title Страна
                    | Великобритания
                .one-block.genre
                    .title Жанр
                    | триллер, драма, детектив
                .one-block
                    .title Год
                    | 2017 (1 сезонов)
        .season-wrapper
            .title Сезоны
            .season-line
                .box-with-btn
                    .season-list
                        .swiper-button-next
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a(href='taboo/1-seson/' title='Табу 1 сезон') 1
                a.btn-border(href='/taboo-1-sezon-1-seriya.html') Первая серия
    .box-sim-movie
        .main-inform
            a.poster-sim(href='voin/' title='Воин')
                img.lazy(data-src='/images/static/voin-poster_191x290.jpeg' alt='Воин')
            .text-inform
                .name-movie
                    a(href='voin/' title='Воин') Воин
                .original-movie Warrior
                a(href='voin/' title='Воин')
                    .static-info.mobile
                        .one-block
                            .title Рейтинг
                            | КП 7.8  IMDB 8.4
                        .one-block
                            .title Жанр
                            | Боевик | Драма | Криминал | История
        a(href='voin/' title='Воин')
            .text-info
                h3 Главная
                p
                    | Сериал
                    strong «Воин»
                    |  – это современный зрелищный триллер с элементами экшна, созданный при поддержке телеканала Cinemax. В основу создания сюжетной линии легли наброски известного актера и режиссера
                    strong Брюса Ли
                    | .
            .static-info
                .one-block
                    .title Рейтинг
                    | КП 7.8  IMDB 8.4
                .one-block
                    .title Страна
                    | США
                .one-block.genre
                    .title Жанр
                    | Боевик | Драма | Криминал | История
                .one-block
                    .title Год
                    | 2019 (2 сезонов)
        .season-wrapper
            .title Сезоны
            .season-line
                .box-with-btn
                    .season-list
                        .swiper-button-next
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a(href='voin/1-season/' title='Воин 1 сезон') 1
                                .swiper-slide
                                    a(href='voin/2-season/' title='Воин 2 сезон') 2
                a.btn-border(href='/voin-1-sezon-1-seriya.html') Первая серия
    a#count-link.all-series-btn(href='#' data-remains='2') Все сериалы