.slider-main-box
    .translation-slider
        .overflow-series
            .wrapper-item.clearfix.swiper-container.all-seasons
                .swiper-wrapper(role='listbox')
                    .swiper-slide.item
                        a.one-item.order-element.active(href='#season5' data-season-number='5')
                            | 5 сезон
                            svg(width='18' height='12')
                                use(xlink:href='#chevron-up')
                    .swiper-slide.item
                        a.one-item.order-element(href='#season4' data-season-number='4')
                            | 4 сезон
                            svg(width='18' height='12')
                                use(xlink:href='#chevron-up')
                    .swiper-slide.item
                        a.one-item.order-element(href='#season3' data-season-number='3')
                            | 3 сезон
                            svg(width='18' height='12')
                                use(xlink:href='#chevron-up')
                    .swiper-slide.item
                        a.one-item.order-element(href='#season2' data-season-number='2')
                            | 2 сезон
                            svg(width='18' height='12')
                                use(xlink:href='#chevron-up')
                    .swiper-slide.item
                        a.one-item.order-element(href='#season1' data-season-number='1')
                            | 1 сезон
                            svg(width='18' height='12')
                                use(xlink:href='#chevron-up')

    #season5.big-slider-main.center-position.right-position.active
        .series-season-wrapper
            .main-list-series-wrap(data-simplebar='' data-simplebar-auto-hide='false')
                .main-list-series
                    each episode in [8, 7, 6, 5, 4, 3, 2, 1]
                        a.one-item-series(href='/5-sezon-'+episode+'-seriya.html' title='Острые козырьки 5 сезон '+episode+' серия')
                            span.box-img
                                img.lazy(data-src='/images/static/episode_360-135.jpg' alt='Острые козырьки 5 сезон '+episode+' серия' width="191" height="117")
                            span.series-number= episode + 'серия'
        a.prev-series.series-btn(href='#' data-role='scrollPrev')
            strong.full-center-flex
                svg(width='10' height='10')
                    use(xlink:href='#arrow-left')
        a.next-series.series-btn(href='#' data-role='scrollNext')
            strong.full-center-flex
                svg(width='10' height='10')
                    use(xlink:href='#arrow-right')
    a.first-series-btn(href='/5-sezon-1-seriya.html') Первая серия сезона