@import "../base/mixins";
@import "../components/simplebar";
@import "../components/player";
@import "../components/episode-description";

.sounds-tabs {
  padding-top: 0;
  position: relative;
  overflow: hidden;
  margin: 0 15px 14px;

  &:before {
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    display: block;
    background-color: #1c1c1f;
  }

  .swiper-container {
    padding: 0;
    position: relative;

    .item {
      display: inline-block;
      width: auto;
      padding: 0;
    }

    .one-item {
      padding: 9px 30px 20px;
      display: block;
      position: relative;
      font-size: 17px;
      color: #fffefe;

      @include mq('md') {
        font-size: 13px;
        transition: 0s;

        &.hover,
        &:focus {
          color: #fff !important;
        }
      }

      &:hover {
        color: var(--color-primary, #6ec198)
      }

      svg {
        width: 18px;
        height: 12px;
        position: absolute;
        bottom: 2px;
        left: 50%;
        right: 0;
        margin-left: -9px;
        --chevron-up: var(--color-primary, #6ec198);
        display: none;
      }

      &[aria-selected="true"] {
        color: var(--color-primary, #6ec198) !important;
        font-weight: 600;

        @include mq('md') {
          font-weight: 400;
          transition: 0s;
        }

        svg {
          display: block;
        }

        &:before {
          height: 3px;
          left: 0;
          right: 2px;
          bottom: 0;
          position: absolute;
          content: "";
          display: block;
          background-color: var(--color-primary, #6ec198)
        }
      }
    }

    .swiper-slide-active .one-item {
      color: #fff;
      font-weight: 400
    }
  }

  .overflow-series {
    margin: 0;
  }

  @media (max-width: 1024px) {
    .swiper-container .one-item {
      padding: 0 22px 20px;
    }
  }

  @include mq('md') {
    .swiper-container .one-item {
      font-size: 13px;
      padding: 0 22px 20px;
    }
  }

  @include mq("xs") {
    .swiper-container {
      &, .item {
        padding: 0;
      }
    }
  }
}

