@import "../base/mixins";
@import "../components/serial-card";

.recommend-serials {
  .recommend-serials__mobile-title {
    display: none;
  }

  @include mq('md') {
    .recommend-serials__mobile-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      background: #1E1E21;
      font-weight: 700;
      padding: 10px var(--content-padding-right) 10px var(--content-padding-left);
      margin-left: calc(-1 * var(--content-padding-left));
      margin-right: calc(-1 * var(--content-padding-right));
      color: var(--color-primary);
      font-size: 20px;
    }
  }

  &-slider {
    margin-bottom: 50px;

    .swiper-slide {
      margin-left: 0;
    }

    @include mq('lg') {
      padding: 0 var(--content-padding-right) 0 var(--content-padding-left);
      margin-left: calc(-1 * var(--content-padding-left));
      margin-right: calc(-1 * var(--content-padding-right));
    }

    @include mq('md') {
      margin-bottom: 40px;

      .recommend-serials__mobile-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px var(--content-padding-right) 13px var(--content-padding-left);
        margin-left: calc(-1 * var(--content-padding-left));
        margin-right: calc(-1 * var(--content-padding-right));
        color: var(--color-primary);
        font-size: 20px;
      }
    }
  }
}
