meta(charset='utf-8')
meta(name='description' content='1 сезон сериала «Острые козырьки» доступен в хорошем FullHD качестве! Начни «Острые козырьки» 1 сезон смотреть онлайн с первой серии.')
meta(name='keywords' content='Острые козырьки 1 сезон первый смотреть онлайн в хорошем качестве все серии LostFilm лостфильм ')
meta(property='og:type' content='video.tv_show')
meta(property='og:url' content='https://kozyrki.online/1-sezon/')
meta(property='og:title' content='Острые козырьки 1 сезон смотреть онлайн на русском в хорошем качестве бесплатно!')
meta(property='og:description' content='1 сезон сериала «Острые козырьки» доступен в хорошем FullHD качестве! Начни «Острые козырьки» 1 сезон смотреть онлайн с первой серии.')
meta(property='og:image' content='/uploads/fotos/f3e951dce8a390597d2a99f71cbd46a2.jpeg')
link(rel='canonical' href='https://kozyrki.online/1-sezon/')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='HandheldFriendly' content='true')
meta(name='viewport' content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='default')
meta(name='format-detection' content='telephone=no')
link(rel='preload' as='font' href='fonts/PTSans/PTSans-Regular.ttf' crossorigin='anonymous' type='font/ttf' media='(min-width: 361px)')
link(rel='preload' as='font' href='fonts/PTSans/PTSans-Bold.ttf' crossorigin='anonymous' type='font/ttf' media='(min-width: 361px)')
link(rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png')
link(rel='apple-touch-icon' sizes='60x60' href='/apple-icon-60x60.png')
link(rel='apple-touch-icon' sizes='72x72' href='/apple-icon-72x72.png')
link(rel='apple-touch-icon' sizes='76x76' href='/apple-icon-76x76.png')
link(rel='apple-touch-icon' sizes='114x114' href='/apple-icon-114x114.png')
link(rel='apple-touch-icon' sizes='120x120' href='/apple-icon-120x120.png')
link(rel='apple-touch-icon' sizes='144x144' href='/apple-icon-144x144.png')
link(rel='apple-touch-icon' sizes='152x152' href='/apple-icon-152x152.png')
link(rel='apple-touch-icon' sizes='180x180' href='/apple-icon-180x180.png')
link(rel='icon' type='image/png' sizes='192x192' href='/android-icon-192x192.png')
link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png')
link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
link(rel='manifest' href='/manifest.json')
meta(name='msapplication-TileColor' content='#237e92')
meta(name='msapplication-navbutton-color' content='#237e92')
meta(name='apple-mobile-web-app-status-bar-style' content='#237e92')
meta(name='theme-color' content='#e6302d')
meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
meta(name='yandex-verification' content='04eb80e49d3dc652')
meta(name='google-site-verification' content='rYlLqL0HUzSuwggbVcvqVFcW52GB-cDU1EmGFL3eZ5k')
style.
    :root {--color-primary: #237e92}