.slider-main-box2
    .translation-slider
        .overflow-series
            .category-seasons.wrapper-item
                button.swiper-button-prev
                    svg(width='10' height='10')
                        use(width='10' height='10' xlink:href='#arrow-left')
                button.swiper-button-next
                    svg(width='10' height='10')
                        use(width='10' height='10' xlink:href='#arrow-right')
                .swiper-container
                    .swiper-wrapper
                        each season in [5, 4, 3, 2, 1]
                            .item.swiper-slide
                                a.one-item(aria-selected=season == 5 ? 'true' : 'false' href='/'+season+'-sezon/' title='Острые козырьки '+season+' сезон' data-season=season)= season + 'сезон'
