.series-list-wr
    .list-page-series
        each episode in [8, 7, 6, 5, 4, 3, 2, 1]
            .one-series-wrapper
                a.one-series(href='https://kozyrki.online/1-sezon-6-seriya.html')
                    span.box-img
                        img.object-fit.lazy(data-src='/images/static/episode_436-264.jpg' width="218" height="132" alt='Острые козырьки 1 сезон '+episode+' серия')
                    span.name= 'Острые козырьки 1 сезон '+episode+'серия'