.left-desc
    .serial-wall
        img.lazy(data-src='/images/static/season-poster_566-800.jpeg' alt='Острые козырьки 1 сезон постер' itemprop='image' width="275" height="393" data-was-processed='true')
    .trailer-desktop
        .text-trailer Трейлер сериала
        a.trailer-youtube(href='javascript:void(0);' itemprop='trailer' data-micromodal-open='micromodal-trailer')
            img.object-fit.lazy(data-src='/images/static/trailer-season.jpeg' width="275" height="155" alt='Острые козырьки 1 сезон постер')
            svg(width='50' height='50')
                use(xlink:href='#play')
        #micromodal-trailer.micromodal.micromodal_iframe(aria-hidden='true')
            .micromodal__overlay(tabindex='-1' data-micromodal-close='')
                .micromodal__container(role='dialog' aria-modal='true')
                    button.micromodal__close(aria-label='Закрыть трейлер' data-micromodal-close='') ✕
                    .micromodal__content
                        iframe.lazy(data-src='https://www.youtube.com/embed/0InieEzg5kY')