.right-desc
    .caption-desc
        h2(itemprop='name') Острые козырьки 1 сезон смотреть онлайн
        .under-caption(itemprop='alternativeHeadline') Peaky Blinders
    .box-inform.list-margin.clearfix
        .one-block
            .one-line
                .left-text.width-size-2 Рейтинг:
                .right-text
                    | КП 8.4
                    | IMDB 8.8
            .one-line
                .left-text.width-size-2 Жанр:
                .right-text(itemprop='genre') Драма | Криминал
            .one-line
                .left-text.width-size-2 Статус:
                .right-text Выходит
        .one-block
            .one-line
                .left-text.width-size-2 Страна:
                .right-text(itemprop='countryOfOrigin') Великобритания
            .one-line
                .left-text.width-size-2 Студия:
                .right-text(itemprop='productionCompany') BBC Television Centre
            .one-line
                .left-text.width-size-2 Год выхода:
                .right-text 12 сентября 2013
                meta(itemprop='startDate' content='2013-09-12')
    .box-inform.list-margin.box-information-padding
        .one-line
            .left-text.width-size-3 Актеры:
            .right-text(itemprop='actors')
                | Киллиан Мёрфи, Пол Андерсон, Хелен Маккрори, Софи Рандл, Нед Деннехи, Финн Коул, Иэн Пек, Гарри Киртон, Джо Коул, Наташа О’Кифф
        .one-line
            .left-text.width-size-3 Режиссер:
            .right-text(itemprop='director') Энтони Бирн, Колм МакКарти, Тим Милантс
        .one-line
            .left-text.width-size-3 Сценарий:
            .right-text Стивен Найт, Тоби Финлэй, Стивен Расселл
        .one-line
            .left-text.width-size-3 Оператор:
            .right-text Джордж Стил, Саймон Дэннис, Лори Роуз
        .one-line
            .left-text.width-size-3 Продюсер:
            .right-text(itemprop='producer') Кэрин Мэндабах, Джули Бринкман, Джэми Глазенбрук
        .one-line
            .left-text.width-size-3 Художник:
            .right-text Грант Монтгомери, Ричард Буллок, Стефен Дэйли
        .one-line
            .left-text.width-size-3 Монтаж:
            .right-text Марк Дэвис, Пол Найт, Селия Хэйнинг
        .one-line
            .left-text.width-size-3 Время:
            .right-text 60 мин.
    .text-information
        .one-season
            h3 Информация о сезоне
            p
                strong «Острые козырьки» (Peaky blinders)
                |  - британский криминально-драматический сериал, получивший популярность благодаря эффектному увлекательному сюжету, отличному актерскому составу и динамичности. Гангстерская сага о банде «Острых козырьков» сразу привлекла внимание поклонников зрелищных кинолент с яркими, харизматичными персонажами.
            p
                | Сериал появился, благодаря
                strong Стивену Найту
                | , который в 2013 году предложил каналу ВВС историю о бандитах, действовавших в 20-е годы ХХ века. История основана на реальных событиях. Настоящая банда носила свое название потому, что в заостренные козырьки кепок были вшиты лезвия – это было их фирменное средство самообороны.
            p
                | Первый сезон
                strong Peaky blinders
                |  состоит из 6 серий – каждая около 58 минут, все серии доступны в высоком FULLHD качестве. Сам создатель сериала признался, что за основу взял реальные события – в частности, истории, рассказанные отцом. Отец часто говорил о своем детстве, он видел те времена по-другому. Сериал стал демонстрацией образов, которые видел ребенок – герои умны, красивы и успешны. В последующем же проект принес телеканалу не только высокий рейтинг, но множество наград.
            h3 Описание сезона
            p
                | События разворачиваются в сложный период для всего мира. Не так давно окончилась Первая мировая война. Власти Британии разрабатывают способ, как восстановить экономику и не позволить ветеранам ощутить голод после возвращения с линии фронта. В начале первого сезона с войны возвращаются члены банды. Мир изменился – бывшие солдаты не могут найти свое место, они потеряли работу, имущество.
                strong Томас
                |  пытается восстановить бизнес. Будущий предводитель группировки
                strong «Козырьки»
                |  делает ставку на занятие букмекерством.
            p
                | Постепенные неудачи в ведении бизнеса толкают сообразительного парня на рискованный шаг. Прямо сейчас возможно смотреть онлайн
                strong «Острые козырьки»
                |  1 сезон и с интересом наблюдать, как семья
                strong Шелби
                |  кардинально меняет род деятельности, организовывая банду. Основными принципами криминальной группировки являются: соблюдение исключительно кодекса чести, преемственность, взаимопомощь. Несмотря на семейственность, в банде состоят и не родственники, которые составляют ударные группы. Бразды правления берет на себя средний брат –
                strong Томас Шелби
                | . Главная опора для
                strong Томаса
                |  – три брата:
                strong Джон, Артур, Финн
                | . Сплоченность действий и правильный расчет на прибыль помогает в сжатые сроки бандитам стать знаменитостями.
            p
                | Когда в руках Острых козырьков после очередного налета оказывается крупная партия оружия, власти начинают нервничать. Министр Англии
                strong Уинстон Черчилль
                |  лично просит инспектора Кэмпбелла решить назревший вопрос, мирно избавившись от всех членов группировки. Лучшим вариантом узнать о планах нарушителей закона становится отправить к ним шпионку
                strong Грейс
                | . Красивой женщине нужно очаровать
                strong Томми
                |  и выведать адрес места, где хранится оружие. Однако между
                strong Томасом и Грейс
                |  зарождаются реальные чувства, которые ставят тайную операцию под угрозу…
            h3 Производство сезона
            p
                | После утверждения сценария, написанного
                strong Стивеном Найтом, Отто Батхерстом
                |  был назначен главным режиссером проекта, а
                strong Кэти Суиндон
                |  выступила в качестве продюсера. Чтобы максимально воплотить в реальность события ушедшего периода, творческой группе пришлось получать разрешения на съемки в исторически значимых местах Англии. Также актеру
                strong Сэму Нилу
                | , выросшему в Новой Зеландии, пришлось брать уроки мастерства для достижения идеального английского акцента.