.wrapper-series
    each episode in [9, 8, 7, 6, 5, 4, 3, 2, 1]
        .one-series(itemprop='episode' itemscope='' itemtype='http://schema.org/TVEpisode')
            a.box-img(href='/1-sezon-'+episode+'-seriya.html' itemprop='url')
                img.object-fit.lazy(itemprop='image' data-src='/images/static/episode_434-262.jpg' width="217" height="132" alt='Чужестранка 1 сезон '+episode+' серия')
                svg(width='41' height='41')
                    use(width='41' height='41' xlink:href='#play')
            span.text-info
                a.number-series(href='/1-sezon-'+episode+'-seriya.html')= 'Чужестранка 1 сезон '+episode+' серия'
                meta(itemprop='partOfSeason' content='1')
                meta(itemprop='episodeNumber' content=episode)
                meta(itemprop='name' content='Чужестранка 1 сезон '+episode+' серия  «Искупление души человеческой»')
                a.name-series(href='/1-sezon-'+episode+'-seriya.html') «Искупление души человеческой»
                a.description(href='/1-sezon-'+episode+'-seriya.html')
                    div(itemprop='description') Клэр и её друзьям приходится провернуть опасный план по спасению Джейми из неприступной тюрьмы Вентворт, идя на большой...
