include ../../mixins/serial-card.pug
- var serials = [
-   { img: '/images/static/comics/comics-1.png', title: 'Чёрная молния' },
-   { img: '/images/static/comics/comics-2.png', title: 'Мандалорец' },
-   { img: '/images/static/comics/comics-3.png', title: 'Наследие' },
-   { img: '/images/static/comics/comics-4.png', title: 'Супергерл' },
-   { img: '/images/static/comics/comics-5.png', title: 'Что, если?' }
- ]

.recommend-serials
    .recommend-serials__mobile-title
        span Рекомендуем к просмотру
        | 😎
    .recommend-serials-slider.swiper-container
        .swiper-wrapper
            each serial in serials
                .swiper-slide
                    +serial-card(serial.img, serial.title)