mixin serial-card(img, title)
    .serial-card
        a(href="javascript:;" title=title)
            .serial-card__img
                img(src=img alt=title)
            span.serial-card__name= title