doctype html
html(lang='ru-RU')
    head
        title Острые козырьки 1 сезон смотреть онлайн на русском в хорошем качестве бесплатно!
        include /includes/main/meta.pug

    body
        .banner_header
            script.
              (function (w, d, o, g, r, a, m) {
                var cid = (Math.random() * 1e17).toString(36);
                d.write('<div id="' + cid + '"></div>');
                w[r] = w[r] || function () {
                  (w[r + 'l'] = w[r + 'l'] || []).push(arguments)
                };

                function e(b, w, r) {
                  if ((w[r + 'h'] = b.pop()) && !w.ABN) {
                    var a = d.createElement(o), p = d.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = '//cdn.' + w[r + 'h'] + '/libs/e.js';
                    a.onerror = function () {
                      e(g, w, r)
                    };
                    p.parentNode.insertBefore(a, p)
                  }
                }

                e(g, w, r);
                w[r](cid, {id: 2079780775, domain: w[r + 'h']});
              })(window, document, 'script', ['trafficbass.com'], 'ABNS');

        .box-close-menu
        .page
            .page-content
                include /includes/header.pug

                .center-bl
                    main.content
                        .series-caption-btns
                            h1.name-serials Сериал Острые козырьки 1 сезон смотреть онлайн
                            .box-series-right
                                a.btn-border.scrollToBtn(href='#cat_descr')
                                    svg(width='15' height='15')
                                        use(width='15' height='15' xlink:href='#info')
                                    |  о сериале
                                a.btn-sort.sort-asc(href='javascript:;')
                                    svg(width='15' height='15')
                                        use(width='15' height='15' xlink:href='#sort')

                        script.
                            document.querySelector('.btn-sort').addEventListener('click', function (e) {
                                e.preventDefault();
                                var type = e.target.closest('.btn-sort').classList.contains('sort-desc') ? 'ASC' : 'DESC';
                                setCookie('episode-sort', type, {expires: 30, path: '/'});
                                location.reload();
                            });

                        include /includes/category/seasons_list.pug

                        include /includes/category/serials_list.pug

                        #cat_descr.description-serials(itemscope='' itemtype='http://schema.org/TVSeries')
                            include /includes/category/serial_info_left.pug
                            include /includes/category/serial_info_right.pug

            include /includes/footer.pug
            script.
                var loadedMetrica = false;
                window.addEventListener('scroll', loadMetrica);
                document.addEventListener('click', loadMetrica);
                document.addEventListener('DOMContentLoaded', function () {
                    setTimeout(loadMetrica, 5000);
                })

                function loadMetrica() {
                    if (!loadedMetrica) {
                        setTimeout(function () {
                        // Global site tag (gtag.js) - Google Analytics
                        var gt = document.createElement('script');
                        gt.src = 'https://www.googletagmanager.com/gtag/js?id=G-S8CY8BC7V7';
                        gt.async = true;
                        document.body.appendChild(gt);
                        var gtc = document.createElement('script');
                        gtc.innerHTML = "window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-S8CY8BC7V7');";
                        document.body.appendChild(gtc);
                        // Yandex.Metrika counter
                        (function (m, e, t, r, i, k, a) {
                          m[i] = m[i] || function () {
                            (m[i].a = m[i].a || []).push(arguments)
                          };
                          m[i].l = 1 * new Date();
                          k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
                        })
                        (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");
                        ym(55054765, "init", {
                          clickmap: true, trackLinks: true, accurateTrackBounce: true
                        });
                      }, 500);
                    }
                    loadedMetrica = true;
                    window.removeEventListener('scroll', loadMetrica);
                    document.removeEventListener('click', loadMetrica);
                };

        include /includes/icons.pug